@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  src: url(http://fonts.gstatic.com/s/raleway/v11/0dTEPzkLWceF7z0koJaX1A.woff2) format('woff2');
}

* {
    margin: 0;
    padding: 0;
}

body {
  background: linear-gradient(to bottom,
    rgba(140,140,140,1) 0%,
    rgba(140,140,140,0.9) 65%,
    rgba(125,125,125,0.9) 65%,
    rgba(96,96,96,0.9) 66%,
    rgba(81,81,81,0.9) 67%,
    rgba(81,81,81,1) 100%);
}

.viewport-base {
  width: 90vw;
  height: 80vh;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  background: #5B6066;
  margin: 10vh 5vw 10vh 5vw;
  border-radius: 0.5em;
  box-shadow: 0px 0px 2px 1px black;
  overflow-x: hidden;
  font-family: "Raleway";
}

.header {
  flex: 0 1 auto;
  border-radius: 0.6em 0.6em 0 0;
  margin: 1px;
  background: linear-gradient(#4f4f4f, #000000);
  color: #ffffff;
  padding: 0.5em;
}

.header-content {
    text-align: center;
}

.now-playing {
  flex: 0 1 auto;
  background: black;
  margin: 0px 1px 1px 1px;
  border: 1px inset #999999;
  color: #ffffff;
  display: flex;
  flex-direction: column;
}

.playing-header, .playing-footer {
  flex: 0 1 auto;
  display: flex;
  justify-content: flex-end;
}

.playing-title {
  flex: 1 0 auto;
}

.playing-body {
  flex: 2 0 auto;
  display: flex;
  align-items: center;
}

.thumb img {
  padding: 0.5em 2em 0.5em 2em;
}

.main-content-area {
  flex: 5 1 auto;
  display: flex;
}

.station-list {
  flex: 3 0 auto
}

.station-details {
  flex: 1 0 auto
}

.footer {
  flex: 0 1 auto;
}

h3.label, h3.value {
  color: #333333;
  font-weight: bold;
  padding: 0.25em;
  flex: 0 0 auto;
  display: inline;
}
h3.label.dark {
  color: #666666;
}

h3.value {
   color: #111111;
}

h3.value.dark {
   color: #cccccc;
}
